.square {
  width: 20px;
  height: 20px;
  position: absolute;
}

body > div {
  position: relative;
}

#button-box {
  position: relative;
  top: 350px;
}

#boogie-box {
  position: relative;
  top: 375px;
  left: 60px;
}

button {
  width: 120px;
  padding: 5px;
  margin-left: 12px;
}

#apply {
  background: green;
}

#reset {
  background: red;
}

#dance {
  background: purple;
}
